{% for mongod_host in groups['mongod'] %}
{%  if not hostvars[mongod_host].arbiter %}
sh.addShard("repl-{{ hostvars[mongod_host].replica_name }}/{{ hostvars[mongod_host].ip }}:27015");
sleep(250);
{%  endif %}
{% endfor %}