# Shere to write logging data.
systemLog:
  destination: file
  path: /var/mongodb/log/mongos.log
  logAppend: true

# How the process runs
processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongos.pid

# Network interfaces
net:
  port: {{ mongo_port }}
  bindIp: {{ mongo_ip }},localhost

# How to secure it
security:
  keyFile: /var/mongodb/pki/keyfile.pem

# How shard runs
sharding:
{% set mongoc_hosts = '' %}
{% for mongoc_host in groups['mongoc'] %}
{%  if loop.last %}
{%    set mongoc_hosts = mongoc_hosts + mongoc_host + ':27011' %}
  configDB: repl-config/{{ mongoc_hosts }}
{%  else %}
{%    set mongoc_hosts = mongoc_hosts + mongoc_host + ':27011,' %}
{%  endif %}
{% endfor %}
