---
- name: Reload MongoDB Service
  systemd:
    daemon_reload: yes
  when:
    - service_init_status.stat.islnk is defined
    - service_init_status.stat.islnk

- name: Get MongoDB Node Service Info
  shell: service mongod status | grep not-found || true
  register: mongod_service_info
  when:
    - service_init_status.stat.exists

- name: Disable MongoDB Node Service
  service:
    name: mongod
    enabled: no
    state: stopped
  when:
    - mongod_service_info.stdout.find("not-found") == -1

- name: Get MongoDB Router Service Info
  shell: service mongos status | grep not-found || true
  register: mongos_service_info
  when:
    - service_init_status.stat.exists

- name: Disable MongoDB Router Service
  service:
    name: mongos
    enabled: no
    state: stopped
  when:
    - mongos_service_info.stdout.find("not-found") == -1
