---
- name: Download MongoDB Repository Package
  shell: wget -O /tmp/percona-release_0.1-6.$(lsb_release -sc)_all.deb https://repo.percona.com/apt/percona-release_0.1-6.$(lsb_release -sc)_all.deb
  args:
    warn: false
  when:
    - mongo_distribution == 'percona'

- name: Install MongoDB Repository
  shell: dpkg --install /tmp/percona-release_0.1-6.$(lsb_release -sc)_all.deb
  args:
    warn: false
  when:
    - mongo_distribution == 'percona'

- name: Remove Downloaded MongoDB Repository Package
  shell: rm -f /tmp/percona-release_0.1-6.$(lsb_release -sc)_all.deb || true
  args:
    warn: false
  when:
    - mongo_distribution == 'percona'

- name: Install MongoDB Packages
  apt:
    name: "{{ item }}"
    force_apt_get: yes
    update_cache: yes
    autoremove: yes
    autoclean: yes
    state: present
  with_items:
    - percona-server-mongodb-{{ mongo_version_major }}{{ mongo_version_minor }}
    - percona-server-mongodb-{{ mongo_version_major }}{{ mongo_version_minor }}-server
    - percona-server-mongodb-{{ mongo_version_major }}{{ mongo_version_minor }}-mongos
    - percona-server-mongodb-{{ mongo_version_major }}{{ mongo_version_minor }}-shell
    - percona-server-mongodb-{{ mongo_version_major }}{{ mongo_version_minor }}-tools
  when:
    - mongo_distribution == 'percona'
